@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

body {
  @apply font-fira-sans;
}

* {
  scroll-behavior: smooth;
}

.transition_prop {
  @apply transition ease-linear duration-300;
}

.section {
  @apply pb-9 md:pb-[100px] xl:pb-[120px] font-fira-sans;
}

.text-section-title {
  @apply font-oswald text-[28px] md:text-[36px] xl:text-[48px] leading-none uppercase text-green-primary;
}

.hero-address::before {
  content: "";
  @apply absolute z-0 top-0 left-0 w-full h-[1px] bg-green-secondary;
}

.values-desc::before {
  content: "";
  @apply hidden md:block absolute bottom-0 left-[-12px] xl:left-[-160px] w-[1px] h-full bg-green-secondary;
  /* @apply hidden md:block absolute bottom-0 left-[-12px] xl:left-auto xl:right-[620px] w-[1px] h-full bg-green-secondary; */
}

.value-card-top::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[1px] bg-green-secondary;
}

.electricity-title::after {
  content: "";
  @apply absolute top-[80px] md:top-[96px] xl:top-[112px] left-1/2 w-[1px] h-[48px] md:h-[87px] bg-green-secondary;
}

.cases-heading::after {
  content: "";
  @apply absolute smOnly:hidden top-[5px] xl:top-0 left-1/2 w-[1px] h-[65px] xl:h-[96px] bg-green-secondary;
}

.slide-cart-top::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[1px] bg-green-secondary;
}

.slider-nav-btn {
  @apply flex items-center justify-center w-[66px] h-[66px] xl:w-[84px] xl:h-[84px] rounded-full border-[1px] border-green-primary hover:text-green-secondary hover:border-green-secondary focus:text-green-secondary focus:border-green-secondary transition_prop;
}

/* .grid > * {
  outline: 1px dotted teal;
} */

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
